* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  background-color: #ddd;
}

.container {
  width: 500px;
  background-color: #fff;
  margin: 7rem auto;
  padding: 3rem 3rem 5rem;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.container h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
}

.container h1 span {
  color: orangered;
}

form {
  width: 70%;
  margin: 1.5rem auto;
  position: relative;
}

input,
select,
textarea {
  box-sizing: border-box;
  background-color: red;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #fefefe;
  border: 1px solid #ddd;
  margin-top: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  resize: none;
}

input:focus,
select:focus,
textarea:focus {
  outline: 1px solid orangered;
}

form textarea {
  padding-bottom: 80px;
}

form label {
  font-weight: 700;
}

form div {
  margin-top: 15px;
}

form button {
  font-size: 1rem;
  background-color: orangered;
  padding: 3px 10px;
  border: 1px solid #666;
  color: #fff;
  border-radius: 8px;
  margin-top: 1.5rem;
  position: absolute;
  right: 0;
  cursor: pointer;
  transition: .3s;
}

form button:hover {
  color: #000;
  background-color: orange;
}