* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

/* #5e7c60 */
/* #f9f5f2 */

nav {
  height: 55px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  font-size: 1.1rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6e5e3;
  padding: 0 50px;
  border-bottom: .1px solid orangered;
}

nav img {
  width: 60px;
}

.nav-left,
.nav-left ul {
  width: 90%;
  justify-content: center;
  gap: 3rem;
  display: flex;
  align-items: center;
}


.nav-left li a {
  color: #000;
  transition: .3s;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  display: inline-block;
  padding-bottom: 2px;
}

.nav-left li a:hover {
  border-bottom: 1px solid orange;
  transform: scale(1.1);
}

.nav-rigth a {
  font-size: 1rem;
  background-color: orangered;
  border: 1px solid #666;
  border-radius: 8px;
  padding: 3px 7px;
  color: #fff;
  transition: .3s;
  cursor: pointer;
}

.nav-rigth a:hover {
  color: #000;
  background-color: orange;
  transform: none;
}

.bars-menu button {
  background-color: #bbbbbb00;
  color: #000000;
  border: none;
  font-size: 1.7rem;
  cursor: pointer;
}

.bars-menu{
  display: none;
}

.sidebar-menu {
  position: absolute;
  right: -100%;
}


/* ====================================================================================== */

/* media query */

/* tablet */
@media only screen and (max-width: 868px) {
  nav img {
    width: 50px;
  }

  nav .nav-left{
    display: none;
  }

  .sidebar-menu {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    box-shadow: 0 0 7px grey;
    width: 15rem;
    height: 100vh;
    transition: .4s;
  }

  .sidebar-menu.active {
    right: 0;
  }

  .sidebar-menu li  {
    margin: 1.5rem;
    font-size: 1rem;
  }
  
  .sidebar-menu li a {
    color: #000;
    transition: .3s ease-out;
    display: inline-block;
    border-bottom: 1px solid rgba(255, 68, 0, 0);
    padding-bottom: 5px;
  }
  
  .sidebar-menu li a:hover {
    color: orangered;
    transform: scale(1.1);
    border-bottom: 1px solid rgb(255, 68, 0);
  }
  
  .bars-menu {
    display: block;
  }
}

/* mobile */
@media only screen and (max-width: 456px) {
  .sidebar-menu {
    width: 10rem;
  }

}













/* darkmode */
.nav-rigth .btn {
  box-sizing: border-box;
  background-color: #9e9d9d;
  padding: 0 5px;
  width: 3.6rem;
  height: 1.6rem;
  border-radius: 10em;
  box-shadow: 0 0 4px rgba(0, 0, 0, 1);
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-rigth .btn-indicator {
  background-color: #fff;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 8px 40px rgba(0, 0, 0, .2);
  transition: transform .3s ease;
}

.nav-rigth .btn-icon-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-rigth .btn-icon {
  text-shadow: 0 0 1px black;
  color: yellow;
  font-size: 1rem;
}

/* --- animation --- */
.nav-rigth .btn-icon.animated {
  animation: spin 0.5s;
}

@keyframes spin {
  to {
    transform: rotate(360deg)
  }
}

/* --- animation end --- */

.darkmode .btn-indicator {
  transform: translateX(1.7rem);
  background-color: #000;
  box-shadow: 0 8px 40px rgba(0, 0, 0, .3);
}

.darkmode .btn-icon {
  color: #fff;
}