* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  font-size: 1.1rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bbbb;
  padding: 0 40px;
  border-bottom: 1px solid orangered;
}

.nav-left,
.nav-left ul {
  gap: 2rem;
  display: flex;
  align-items: center;
}

.nav-left img {
  width: 60px;
}

.nav-left a {
  color: #000;
  transition: .3s;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  display: inline-block;
  padding-bottom: 2px;
}

.nav-left a:hover{
  color: orangered;
  border-bottom: 1px solid orangered;
  transform: scale(1.1);
}



.nav-rigth button {
  font-size: 1.1rem;
  background-color: orangered;
  border: 1px solid #666;
  border-radius: 8px;
  padding: 4px 8px;
  color: #fff;
  transition: .3s;
  cursor: pointer;
}

.nav-rigth button:hover {
  color: #000;
  background-color: orange;
}
