* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

/* #5e7c60 */
/* #f9f5f2 */

body {
  background-color:  #f9f5f2 ;
  font-family: "poppins", sans-serif;
  font-size: 1rem;
  background: url(/img/bg.jpg);
}

.container {
  width: 900px;
  padding: 3rem 4rem;
  background-color:  #f9f5f2 ;
  margin: 7rem auto 3rem;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.container h1 {
  font-size: 2rem;
  text-align: center;
}

.container h1 span {
  color: #5e7c60;
  text-shadow:  0 0 1px yellow;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  line-height: 2rem;
}

.row .tech  {
  margin-top: 2rem;
}

.content .img {
  width: 60%;
}

.content img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}

.content .row {
  width: 33%;
}

.technologies {
  display: flex;
  gap: 2rem;
}

.hero {
  margin-top: 3rem;
}

.hero p {
  margin-top: .5rem;
}

/* media query */

/* tablet */
@media only screen and (max-width: 868px) {
  body {
    font-size: 1.2rem;
    background-color: #fff;
  }

  .container {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 2rem auto 3rem ;
    box-shadow: none;
  }

  .container h1 {
    font-size: 2rem;
    margin: 7rem 0 2rem ;
  }

  .content {
    flex-direction: column;
  }
  
  .content .img {
    width: 100%;
  }
  
  .content .row {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    font-size: 1rem;
    margin: -3rem 0;
  }

  .content .left {
    margin-top: 1.9rem;

} 
}

/* mobile */
@media only screen and (max-width: 468px) {
  body {
    font-size: .8rem;
    background-color: #fff;
  }

  .container {
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    margin: 2rem auto 3rem;
    box-shadow: none;
  }

  .container h1 {
    font-size: 1.2rem;
    margin: 6rem 0 -1rem ;
  }

  .content {
    flex-direction: column;
  }
  
  .content .img {
    width: 100%;
  }
  
  .content .row {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: .7rem;
    margin: -2rem 0;
  }
  
  .technologies {
    display: flex;
    gap: 1rem;
  }
}