* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color:#e2edff;
  padding-top: 5rem;
}

.nav-btn {
  background-color: #e2edff;
  color: #000;
  font-weight: bold;
  
}

.nav-btn:hover {
  background-color: #dedede;
}

.nav-link {
  color: #fff;
  display: block;
  transition: .3s;
}

.nav-link:hover {
  transform: scale(1.1);
}


.testimonials h1 {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

h1 span {
  color: #0099FF;
  text-shadow:  0 0 1px #000;
}


.rating .rating-btn {
  padding: .3rem 1.3rem;
  background-color: #000;
  color: #fff;
  margin: 10px;
  border-radius: 4px;
  display: inline-block;
  transition: .2s;
  cursor: pointer;
}

.rating .rating-btn:hover {
  transform: scale(1.1);
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  margin-top: 2rem;
}


.testimonial {
  padding-top: 10px;
  width: 300px;
  margin: 0px 15px 30px 15px;
  background-color: #eee;
  border-radius: 50px 0 50px 0;
  box-shadow: 0 0 5px #000;
}

.testimonial img {
  object-fit: cover;
  border-radius: 50px 0 0 0;
  aspect-ratio: 4/3;
}

.quote {
  color: #000 ;
  font-size: 16px;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 20px;
  padding: .8rem;
}

.author,
.rating {
  color: #000 ;
  padding: .2rem;
  font-weight: bold;
  text-align: right;
}

.rating  {
  padding-right: 1rem;
  color: orange;
}

.profile-testimonial {
  width: 100%;
}

.container-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media only screen and (max-width: 900px) {
  .testimonial {
      width: 40%;
  }
}

@media only screen and (max-width: 700px) {
  .testimonial {
      width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  #barsmenu {
      display: block;
  }


  .item-collapse {
      display: none;
  }

  .hamburger {
      flex: 1;
      display: flex;
      margin-right: 30px;
      align-items: center;
      justify-content: flex-end;
  }
}
